<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.oauth.client.ClientMapper">

    <insert id="save">
      insert into oauth_client_details (
          resource_ids,
          scope,
          authorized_grant_types,
          web_server_redirect_uri,
          authorities,
          access_token_validity,
          refresh_token_validity,
          additional_information,
          autoapprove,
          client_name,
          raw_client_secret,
          client_id
      ) values (
          #{resourceIds} ,
          #{scope} ,
          #{authorizedGrantTypes} ,
          #{webServerRedirectUri} ,
          #{authorities},
          #{accessTokenValidity},
          #{refreshTokenValidity},
          #{additionalInformation},
          #{autoapprove},
          #{client_name},
          #{rawClientSecret},
          #{clientId}
      )
    </insert>

    <select id="findByClientId" resultType="com.wf.ew.oauth.client.Client">
      select * from oauth_client_details where client_id = #{clientId}
    </select>

    <update id="update">
      update oauth_client_details set
      resource_ids = #{resourceIds} ,
      scope = #{scope} ,
      authorized_grant_types = #{authorizedGrantTypes} ,
      web_server_redirect_uri = #{webServerRedirectUri} ,
      authorities = #{authorities},
      access_token_validity = #{accessTokenValidity},
      refresh_token_validity = #{refreshTokenValidity},
      additional_information = #{additionalInformation},
      autoapprove = #{autoapprove},
      client_name = #{client_name},
      raw_client_secret = #{rawClientSecret}
      where client_id = #{clientId}
    </update>

    <select id="findAll" resultType="com.wf.ew.oauth.client.Client">
      select * from oauth_client_details order by client_id
    </select>

    <delete id="delete">
      delete from oauth_client_details where client_id = #{clientId}
    </delete>
</mapper>